*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  /* background-color: rgb(33, 38, 40); */
  background: linear-gradient(90deg, rgba(23,0,55,1) 0%, rgba(34,0,72,1) 41%, rgba(62,3,64,1) 79%, rgba(57,0,26,1) 100%);
  
}